body{
    background-color: rgb(17, 17, 17);
}

.name{
    color: rgb(210, 209, 232);
    margin: 0;
}

.location{
    color: darkgoldenrod;
}

.status{
    color: beige;
}

main{
    height: 1000px;
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div0{
    padding: 40px;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div1{
    display: flex ;
    flex-direction: column;
    align-items: center;
}


.div2{
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pf{
    width: 100px;
    border-radius: 100%;
}

button{
    width: 100%;
    background-color: rgb(50, 50, 50);
    border: none;
    height: 40px;
    border-radius: 10px;
    color: aliceblue;
}
