body {
    background-color: antiquewhite;
}

.nav1 {
    text-align: center;
}

.goa{
    color: rgb(15,158,15);
}

.intro {
    color: rgb(15,158,15);
    font-size: 25px;
}

.a1 {
    color: rgb(15, 160,15);
}

.a2 {
    color: rgb(15, 160, 15);
    margin: 15px;
}

.nav2 {
    text-align: center;
}

.about {
    color: rgb(15, 158, 15);
}

.info {
    font-size: 25px;
    color: rgb(15, 158, 15);
}

.info2 {
    font-size: 20px;
    color: rgb(15, 158, 15);
}

.a3 {
    color: rgb(15, 160, 15);
    
}

.a4 {
    color: rgb(15, 160, 15);
    margin: 15px;
}

.course {
    text-align: center;
    color: rgb(15, 160, 15);
}

.a5 {
    color: rgb(15, 158, 15);
}